@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-image: url("./snow.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "poppins", sans-serif;
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem 5rem;
    display: flex;
    flex-direction: column;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
}

.countdown-el {
    text-align: center;
    flex-direction: row;
}

.countdown-el span{
    font-size: 1.3em;
}